.enter {
  padding-top: 97px;
  padding-bottom: 148px;

  &__content {
    display: flex;
    margin-top: 123px;
    gap: 19px;
  }

  h2 {
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    color: #333333;
  }

  &__item {
    padding: 24px;
    box-sizing: border-box;
    width: 33.33%;
    background: #ffffff;
    border-radius: 4.8px;
    filter: drop-shadow(0px 4.8px 9.6px rgba(0, 0, 0, 0.1));
    transition: 0.4s;

    h3 {
      font-family: "Inter";
      font-weight: 700;
      font-size: 38px;
      margin-top: 31px;
    }

    p {
      font-family: "Inter";
      font-size: 16px;
      color: #494949;
      margin-top: 23px;
    }
    &:hover{
      background: #F0FFF0;
      padding: 30px;
    }
  }

  &__top {
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1160px) {
  .enter {
    &__item {
      h3 {
        font-size: 28px;
      }
    }
  }
}

@media screen and (max-width: 834px) {
  .enter {
    &__item {
      width: 60%;
      margin: 0 auto;
      p {
        font-size: 14px;
      }
    }

    &__content {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 500px) {
  .enter {
    h2 {
      font-size: 30px;
    }

    &__item {
      width: 80%;
    }
  }
}

@media screen and (max-width: 380px){
  .enter {
    h2 {
      font-size: 24px;
    }

    &__item {
      width: 90%;
    }
  }
}
